.card{
    border: 1px solid #ddd;
    border-radius: 1.0em;
    padding: 1em;
    margin: 1.5em;
    margin-bottom: 2em;
    width: 20em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    text-align: left;
    flex-direction: column;
    transition: transform 0.2s ease;
}

.card:hover{
    transform: scale(1.02);
}

.card img{
    width: 100%;
    border-radius: 1em;
    margin-bottom: 0.5 em;
}

.titulo{
    font-size: 1.5em;
    margin: 0.5em 0;
}


.descricao{
    font-size: 0.95em;
    margin-bottom: 1em;
    color: #555;
}

.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .preco{
    font-size: 1.1em;
    font-weight: bold;
    color: #e67e22;
}

.card button{
    padding: 0.5em 1em;
    background-color: #e67e22;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 1em;
    cursor: pointer;
}

.card button:hover {
  background-color: #994700;
}